@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Playfair+Display&family=Roboto+Condensed&display=swap");

.mes-produits {
  /* font-family: 'Roboto Condensed', sans-serif;
    color: #947cff; */
  font-family: "Pacifico", cursive;
  color: #201b72;
  /* margin-top : 1em */
  position: relative;
}

.filter {
  display: flex;
  justify-content: center;
  width: 100vw;
  margin-top: 1em;
  margin-bottom: 1em;
}

@media screen and (min-width: 969px) {
  .title-search-container {
    display: flex;
    width: 45vw;
    justify-content: space-between;
    align-items: center;
    /* position: relative; */
    margin: 0 auto;
    margin-top: 2em;
  }

  .mesproduits {
    margin-right: 1em;
  }

  .filter {
    width: 50%;
    margin: 0;
  }
}

@media screen and (min-width: 969px) {
  .wj-item-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
